<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board_firebase(Realtime Database)</title>
</head> 
    <form name="form" action="boardSave" method="post">
        <table border="1" style="width:600px">
            <caption>board_firebase(Realtime Database)</caption>
            <colgroup>
                <col width='15%' />
                <col width='*%' />
            </colgroup>
            <tbody>
                <tr>
                    <td>작성자</td>
                    <td><input type="text" name="brdwriter" size="20" maxlength="20" value="<%=row.brdwriter%>"></td>
                </tr>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="brdtitle" size="70" maxlength="250" value="<%=row.brdtitle%>"></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td><textarea name="brdcontent" rows="5" cols="60"><%=row.brdcontent%></textarea></td>
                </tr>
            </tbody>
        </table>   
        <a href="#" onclick="form.submit()">저장</a>
        <input type="hidden" name="brdno" value="<%=row.brdno%>">
        <input type="hidden" name="brddate" value="<%=row.brddate%>">
    <form>
</body>
</html>